.DS_Store
__pycache__/calculate_flops_hf_wrapper.cpython-310.pyc
__pycache__/flops_hf_wrapper.cpython-310.pyc
__pycache__/wrapper.cpython-311.pyc
calflops/__pycache__/__init__.cpython-310.pyc
calflops/__pycache__/__init__.cpython-311.pyc
calflops/__pycache__/calculate_pipline.cpython-310.pyc
calflops/__pycache__/estimate.cpython-310.pyc
calflops/__pycache__/flops_counter.cpython-310.pyc
calflops/__pycache__/flops_counter.cpython-311.pyc
calflops/__pycache__/flops_counter_hf.cpython-310.pyc
calflops/__pycache__/pytorch_ops.cpython-310.pyc
calflops/__pycache__/utils.cpython-310.pyc
calflops/__pycache__/__init__.cpython-311.pyc
calflops/__pycache__/flops_counter.cpython-311.pyc
screenshot/huggingface_model_names.png
screenshot/huggingface_model_name3.png
screenshot/huggingface_model_name2.png
screenshot/huggingface_model_name.png
screenshot/calflops_hf4.png
screenshot/calflops_hf3.png
screenshot/calflops_hf2.png
screenshot/calflops_hf1.png
screenshot/alxnet_print_result.png
screenshot/alxnet_print_detailed.png
screenshot/.DS_Store
README_CN.md
*.pyc
